@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: rgba(14, 20, 27, 1);
    --color-text-complement: #4b5563;
    --color-placeholder: #9ca3af;
    --color-background-base: #fff;
    --color-background-complement: #fff;
    --color-border-base: transparent;
    --color-primary: #3b82f6;
    --color-primary-light: #dbeafe;
    --color-primary-dark: #2563eb;
    --color-background-button-base: #60a5fa;
    --color-skeleton: #93c5fd;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-base: #fff;
      --color-text-complement: #fff;
      /* --color-placeholder: SAME AS LIGHT THEME; */
      --color-background-base: rgba(14, 20, 27, 1);
      --color-background-complement: #19232d;
      --color-border-base: #374151;
      --color-primary: #fbbf24;
      --color-primary-light: #fef3c7;
      --color-primary-dark: #f59e0b;
      --color-background-button-base: #fcd34d;
      --color-skeleton: #fde68a;
    }
  }

  html,
  body,
  #__next {
    @apply h-full;
  }

  body {
    @apply text-skin-base bg-skin-base;
  }

  #__next {
    @apply flex flex-col;
  }

  a {
    @apply focus:outline-none;
    /* static underline on focus  */
  }

  ul,
  button {
    @apply focus:outline-none;
    /* shadow ring on focus */
  }
}
