@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-blue-1: #dbeafe;
    --color-blue-2: #bfdbfe;
    --color-blue-3: #93c5fd;
    --color-blue-4: #60a5fa;
    --color-blue-5: #3b82f6;
    --color-blue-6: #2563eb;
    --color-yellow-1: #fef3c7;
    --color-yellow-2: #fff0b2;
    --color-yellow-3: #fde68a;
    --color-yellow-4: #fcd34d;
    --color-yellow-5: #fbbf24;
    --color-yellow-6: #f59e0b;
    --color-grey-1: #f3f4f6;
    --color-grey-2: #e5e7eb;
    --color-grey-3: #d1d5db;
    --color-grey-4: #9ca3af;
    --color-grey-5: #6b7280;
    --color-grey-6: #4b5563;
    --color-grey-7: #374151;
    --color-grey-8: #1f2937;
    --color-grey-9: #111827;

    --color-text-base: rgba(14, 20, 27, 1);
    --color-text-complement: #4b5563;
    --color-background-base: #fff;
    --color-background-complement: #fff;
    --color-border-base: transparent;
    --color-link-base: #3b82f6;
    --color-link-text: var(--color-text-base);
    --color-background-button-base: #60a5fa;
    --color-skeleton: #93c5fd;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-base: #fff;
      --color-text-complement: #fff;
      --color-background-base: rgba(14, 20, 27, 1);
      --color-background-complement: #19232d;
      --color-border-base: #374151;
      --color-link-base: #fbbf24;
      /* --color-link-text: SAME AS LIGHT THEME; */
      --color-background-button-base: #fcd34d;
      --color-skeleton: #fde68a;
    }
  }

  html,
  body,
  #__next {
    @apply h-full;
  }

  body {
    @apply text-skin-base bg-skin-base;
  }

  #__next {
    @apply flex flex-col;
  }

  a,
  ul,
  button {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2;
  }
}
